<div class="container analytics-container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Repos of Angular Organizations</h4>
          <h6 class="card-subtitle text-muted">These are Angular Repos</h6>
          <table class="table table-striped">
            <thead class="thead-light">
            <tr>
              <th class="first-row">Id</th>
              <th class="first-row">Name</th>
              <th class="first-row">Email</th>
              <th class="first-row">Url</th>
              <th class="first-row">Watchers</th>
              <th class="first-row">Open issues</th>
              <th class="first-row"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>John Doe</td>
              <td>john.doe07@gmail.com</td>
              <td>deep.guha@traveltripper.com</td>
              <td>6</td>
              <td>98</td>
              <td></td>
            </tr>
            <tr>
              <td>1</td>
              <td>John Doe</td>
              <td>john.doe07@gmail.com</td>
              <td>deep.guha@traveltripper.com</td>
              <td>6</td>
              <td>98</td>
              <td></td>
            </tr>
            <tr>
              <td>1</td>
              <td>John Doe</td>
              <td>john.doe07@gmail.com</td>
              <td>deep.guha@traveltripper.com</td>
              <td>6</td>
              <td>98</td>
              <td></td>
            </tr>
            <tr>
              <td>1</td>
              <td>John Doe</td>
              <td>john.doe07@gmail.com</td>
              <td>deep.guha@traveltripper.com</td>
              <td>6</td>
              <td>98</td>
              <td></td>
            </tr>
            <tr>
              <td>1</td>
              <td>John Doe</td>
              <td>john.doe07@gmail.com</td>
              <td>deep.guha@traveltripper.com</td>
              <td>6</td>
              <td>98</td>
              <td></td>
            </tr>
            </tbody>
          </table>

          <nav class="ml-4">
            <ul class="pagination">
              <li class="page-item disabled"><a href="#" class="page-link">Previous</a></li>
              <li class="page-item active"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>
</div>
